@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --transparent-light-blue: #f4eeff;
  --transparent-dark-blue: #dcd6f7;
  --light-blue: #a6b1e1;
  --dark-blue: #424874;
  --light-red: #e74c3c;
  --black: #000000;
}

body {
  height: 100vh;
  background-color: var(--transparent-light-blue);
  color: var(--dark-blue);
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--light-blue);
  color: var(--white);
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 150ms ease-out;
}

button:hover {
  background-color: var(--dark-blue);
}